/* Work Sans Font from Google Fonts  */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap");

/* Shared Styles  */
* {
  font-family: "Work Sans", sans-serif;
}

/* Header Styles  */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav a {
  text-decoration: none;
}

nav li {
  margin-right: 30px;
  list-style: none;
}

/* Banner Styles  */

.banner-content {
  text-align: center;
  max-width: 860px;
  margin: 0px auto;
}

.banner-title {
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}

.banner-description {
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.banner img {
  justify-content: center;
}

.btn-primary {
  border-radius: 8px;
  background-color: #ff900e;
  border: none;
  padding: 20px 20px;
}
